@use "@/design-system/theme/light" as light-theme;
@use "@/design-system/utils";
@use "@/design-system/colors";
@use "@/design-system/shadows";
@use "@/design-system/typography/styles";
@use "@/design-system/typography/weights";

.input.component {
  $icon: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9L12 15L18 9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' stroke='%23ffffff'/%3E%3C/svg%3E");
  text-align: left;

  label {
    @include styles.text-sm;
    @include weights.medium;
    color: colors.$gray-iron-200;
  }

  input,
  textarea,
  select {
    margin-top: 6px;
    padding: 10px 14px;
    @include styles.text-md;
    @include weights.regular;
    color: colors.$rose-50;
    border: 1px solid colors.$rose-300;
    width: 100%;

    &::placeholder {
      color: colors.$gray-iron-300;
    }
  }

  textarea {
    resize: vertical;
    padding: 12px 14px;
    min-height: 134px;
  }

  select {
    // remove arrow
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: $icon;
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-size: 20px;
  }

  div.select {
    display: flex;
    align-items: center;

    &[data-with-input="true"] {
      select {
        border-right: 0;
      }

      input {
        border-left: 0;
      }
    }
  }
}
