---
interface Props {
  outerClass?: string;
  className?: string;
}

const { outerClass = "", className = "", ...rest }: Props = Astro.props;
---

<div class=`container component wrapper ${outerClass}` {...rest}>
  <div class=`inner ${className}`>
    <slot />
  </div>
</div>
