@use "@/design-system/theme/light" as light-theme;
@use "@/design-system/utils";
@use "@/design-system/colors";
@use "@/design-system/shadows";
@use "@/design-system/typography/styles";
@use "@/design-system/typography/weights";

.legal.hero {
  padding: 168px 0 226px !important;

  &::after {
    background-image: url("/assets/legal-hero.webp") !important;
  }

  @media (max-width: 767px) {
    padding: 74px 0 106px !important;

    .inner .hero.title {
      text-align: center !important;
    }
  }
}

.legal.contents.inner {
  padding-top: 96px;
  padding-bottom: 96px;

  display: flex;
  gap: 64px;

  button.toc {
    display: none;
    padding: 10px 24px;
    background-color: colors.$rose-600;
    align-items: center;
    gap: 8px;

    @include styles.text-md;
    @include weights.semibold;

    &,
    svg {
      color: colors.$base-white;
    }
  }

  .toc.component {
    padding-top: 8px;

    $header-height: 80px;

    position: sticky;
    top: $header-height;
    height: max-content;
    max-height: calc(100vh - $header-height);
  }

  .right {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 32px;

    padding-top: 8px;

    p,
    li {
      @include styles.text-lg;
      @include weights.regular;
      color: colors.$gray-iron-200;
    }

    .title {
      @include styles.text-lg;
      @include weights.semibold;
      color: colors.$gray-iron-25;
    }

    .heading {
      @include styles.display-xs;
      @include weights.semibold;
      color: colors.$gray-iron-25;
    }

    div.item {
      .description {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        ul {
          margin: 0;
        }
      }
    }
  }

  @media (max-width: 767px) {
    padding-top: 32px;
    padding-bottom: 120px;

    button.toc {
      display: flex;
    }

    flex-direction: column;
    gap: 32px;

    .toc.component {
      position: fixed;
      top: 0;
      left: 0;
      min-height: 100vh;
      background-color: colors.$rose-800;
      z-index: 9;
      padding: 24px 16px;
      padding-right: 12px;
      justify-content: start;
      max-width: 80%;

      & > ul {
        padding: 0;
        padding-right: 12px;
      }

      transform: translateX(-100%);
      box-shadow: none;
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

      &[data-open="true"] {
        transform: translateX(0);
        box-shadow: 0px 0px 100px 1000px rgba(0, 0, 0, 0.65);
      }
    }
  }
}
