---
interface Props extends astroHTML.JSX.InputHTMLAttributes {}
const { ...rest } = Astro.props;
---

<div class="custom checkbox component">
  <label class="container">
    <input type="checkbox" {...rest} />
    <span class="checkmark"></span>
    <slot />
  </label>
</div>
