---
import Container from "@/components/Container/Container.astro";
---

<Container outerClass="about mission">
  <img src="/assets/about-mission.webp" alt="Our Mission & Values image" />

  <div class="content">
    <div class="our mission">
      <p class="title">Our Mission</p>
      <p class="text">
        Empowering organizations with cutting-edge cybersecurity tools, ensuring
        a resilient defense against evolving digital threats.
      </p>
    </div>

    <div class="our values">
      <p class="title">Our Values</p>
      <ul class="text">
        <li>Innovation</li>
        <li>Integrity</li>
        <li>Collaboration</li>
        <li>Customer-Centric Approach</li>
      </ul>
    </div>
  </div>
</Container>
