@use "@/design-system/theme/light" as light-theme;
@use "@/design-system/utils";
@use "@/design-system/colors";
@use "@/design-system/shadows";
@use "@/design-system/typography/styles";
@use "@/design-system/typography/weights";

.about.our.team {
  padding: 96px 0 152px;

  .text {
    text-align: center;
    max-width: 768px;
    margin: 0 auto;

    p.title {
      @include styles.display-md;
      @include weights.semibold;
      color: colors.$gray-iron-25;
    }

    p.description {
      @include styles.text-xl;
      @include weights.regular;
      color: colors.$gray-iron-200;
      margin-top: 20px;
    }
  }

  .team {
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 16px;

    .card {
      padding: 24px;
      background-color: colors.$rose-800;

      img {
        height: 88px;
        aspect-ratio: 1 / 1;
        object-fit: contain;
        border-radius: 50%;
      }
    }
  }

  @media (max-width: 767px) {
    padding: 32px 0;

    .text {
      .title {
        @include styles.display-sm;
      }

      .description {
        @include styles.text-md;
      }
    }

    .team {
      padding: 0 12px;
      width: max-content;
      margin: 32px auto 0;
      grid-template-columns: repeat(2, 1fr);

      .card {
        max-width: 136px;
      }
    }
  }
}
